.logout-button {
    border: 2px solid #232A4E;
    border-radius: 20px;
    padding: 7px 25px 7px 25px;
    background-color: #081730;
    color: white;
    margin-right: 35px;
}

.logout-button:hover {
    background-color: #232A4E;
}