.title {
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    background-color: inherit !important;
}

.title h2 {
    color: #081730 !important;
    font-size: 48px !important;
}

.subtitle {
    color: white;
    font-size: 38px;
    border-bottom: 2px solid grey;
    width: 30%;
}

.conversaciones {
    padding: 25px;
    font-size: 18px;
}

.listado {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 8px 10px rgb(0, 0, 0, 0.05);
}

.conversacion {
    display: flex;
    padding: 15px;
    transition: font-size 0.5s, color 0.5s;
    font-size: 18px;
    font-weight: 500;
}

.conversacion:hover {
    font-size: 24px;
    color: white;
    border-radius: 20px;
    background-color: #232a4e;
}

.conversacion a {
    text-decoration: none;
    color: inherit;
    margin-right: 80px;
}

.conversacion a:hover {
    color: inherit;
    background-color: inherit;
}

.submit-button-delete {
    border-radius: 20px;
    font-size: 14px;
    color: white;
    background-color: #081730;
    border-color: white;
}