footer {
    background-color: #081730;
    color: #f7f7f7;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.container-texto {
    display: flex;
    justify-content: center;
}

.container-button {
    justify-content: center;
    display: flex;
}

.container-Copyright {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.register-button-footer {
    border-radius: 20px;
    border: 2px solid #232a4e;
    padding: 7px 25px 7px 25px;
    background-color: #081730;
}

.register-button-footer:hover {
    border: 2px solid #081730;
    background-color: #232a4e;
}

.register-button-footer a {
    color: white;
    text-decoration: none;
}

.register-button-footer a:hover {
    color: white;
    background-color: inherit;
}

