.searchInputs {
    margin-top: 105px;
    display: flex;
}

.search {
    max-width: 60%;
}

.text {
    margin-bottom: -100px;
    display: flex;
    justify-content: center;
}

.search-text {
    color: white;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    width: 900px;
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.15);
}

.searchIcon {
    height: 60px;
    width: 50px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}
.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    text-align: center;
    font-size: 0.9em;
    margin-top: 5px;
    width: 950px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: black;
    border-bottom: 1px solid grey;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #232a4e;
}

.dataResult:hover .dataItem:hover {
    color: white;
}

#clearBtn {
    cursor: pointer;
}