.header {
    background-color: #081730;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.logo {
    width: 120px;
    height: 120px;
}

.buttons {
    display: flex;
    margin-right: 50px;
}

.register-button {
    background-color: #232A4E;
    color: white;
    padding: 9px 27px 9px 27px;
    border-radius: 20px;
    border: 0;
}

.register-button:hover {
    background-color: #081730;
    border: 2px solid #232A4E;
    padding: 7px 25px 7px 25px;
}

.register-button a {
    color: white;
    text-decoration: none;
}

.register-button a:hover {
    color: white;
    background-color: inherit;
}

img {
    transition: transform .2s;
}

img:hover {
    background-color: #081730;
    transform: scale(0.9);
}